.body__nav{
    height: 65px;
    background-color: black;
    border-top: 1px solid rgba(160, 145, 103, 0.42);
}
.nav__navigation{
    display: flex;
    justify-content: space-between;
    padding: 0 30vw;
    height: 100%;
}
.navigation__navigationItem{
    height: 100%;
}
.navigationItem__aTag{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-family: 'MuseoSansBold', sans-serif;
    text-transform: uppercase;
}
.navigationItem__aTag--active {
    color: var(--dark-beige);
}
.navigationItem__aTag:hover{
    color: var(--dark-beige);
}
